.robot-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.robot-face-shape {
  height: 500px;
  width: 30.9em;
  border: solid 20px lime;
  background: linear-gradient(to left, magenta, blue);
  border-radius: 50%;
  position: relative;
  top: 100px;
  left: 520px;
  z-index: 10;
}

.robot-eye-left {
  height: 200px;
  width: 40px;
  border: solid 2px black;
  background-color: red;
  position: absolute;
  top: 30px;
  left: 100px;
}

.robot-eye-right {
  height: 200px;
  width: 50px;
  border: solid 5px purple;
  border-radius: 50%;
  background-color: aqua;
  position: absolute;
  top: 40px;
  left: 300px;
}

.robot-ear-left {
  height: 40px;
  width: 200px;
  border: solid 5px greenyellow;
  border-radius: 90%;
  background-color: blueviolet;
  opacity: 50%;
  position: absolute;
  top: 315px;
  left: 320px;
}

.robot-ear-right {
  height: 170px;
  width: 100px;
  border: dotted 5px green;
  background-image: url(https://picsum.photos/id/237/200/300);
  background-size: cover;
  background-position: right;
  position: absolute;
  top: 300px;
  right: 420px;
}

.robot-nose {
  height: 40px;
  width: 40px;
  border: solid 3px black;
  background-color: chartreuse;
  position: relative;
  top: 225px;
  left: 200px;
}

.robot-teeth {
  height: 360px;
  width: 460px;
}

.robot-tooth:first-of-type {
  height: 40px;
  width: 40px;
  position: relative;
  top: 240px;
  left: 100px;
  background-color: antiquewhite;
  border: solid 3px black;
}

.robot-tooth:nth-of-type(2) {
  height: 40px;
  width: 40px;
  position: relative;
  top: 200px;
  left: 140px;
  background-color: antiquewhite;
  border: solid 3px black;
}

.robot-tooth:nth-of-type(3) {
  height: 100px;
  width: 40px;
  position: relative;
  top: 160px;
  left: 180px;
  background-color: antiquewhite;
  border: solid 3px black;
}

.robot-tooth:nth-of-type(4) {
  height: 100px;
  width: 40px;
  position: relative;
  top: 60px;
  left: 220px;
  background-color: antiquewhite;
  border: solid 3px black;
}

.robot-tooth:nth-of-type(5) {
  height: 40px;
  width: 40px;
  position: relative;
  bottom: 40px;
  left: 260px;
  background-color: antiquewhite;
  border: solid 3px black;
}

.robot-tooth:nth-of-type(6) {
  height: 40px;
  width: 40px;
  position: relative;
  bottom: 80px;
  left: 300px;
  background-color: antiquewhite;
  border: solid 3px black;
}

.robot-hair-style {
  background-color: black;
  border: solid 1px black;
  height: 30%;
  width: 26%;
  position: absolute;
  top: 70px;
  left: 570px;
}

.robot-hair-one {
  width: 20px;
  height: 95px;
  background-color: antiquewhite;
  border: solid 1px antiquewhite;
  position: relative;
  left: 40px;
}

.robot-hair-two {
  width: 20px;
  height: 80px;
  background-color: antiquewhite;
  border: solid 1px antiquewhite;
  position: relative;
  bottom: 95px;
  left: 260px;
}

.robot-hair-three {
  width: 20px;
  height: 115px;
  background-color: antiquewhite;
  border: solid 1px antiquewhite;
  position: relative;
  bottom: 175px;
  left: 300px;
}
